<template>
  <div class="app-container">
    <<%= kebabCase(filter.fileName) %>
      :show-search="<%= filter.vShowName %>>"
      @handle-query="handleQuery"
    />

    <<%= kebabCase(tableView.fileName) %>
      :data-list="listData.rows"
      :total-rows="listData.total"
      :loading="loading"
      v-model:show-search="showSearch"<%
    for (let emit of tableEmits.keys()) { %>
      @<%= kebabCase(emit) %>="<%= emitCallbacks[emit] %>"<%
    } %>
    />

    <!-- 添加或修改会员对话框 -->
    <member-form-dialog ref="createFormRef" @submitted="onSubmitted"/>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {useApi} from "@/utils/request";
import {useGlobalProperties} from "@/utils/component";
<%= compileEjsTmp(ejsTmp.tsImportLinesTmp, importLines)
%>import {COMMON_KEYS} from "@/constants/common";<%
// TODO: 如果组件本身有package配置且和index不同，改变导入组建的路径
%>
import <%=filter.fileName%> from "./<%=filter.fileName%>.vue";
import <%=tableView.fileName%> from "./<%=tableView.fileName%>.vue";
import <%=formDialog.fileName%> from "./<%=formDialog.fileName%>.vue";
const {INJECT_QUERY_LIST_PARAM} = COMMON_KEYS;

const proxy = useGlobalProperties();

const loading = ref(true);

const {
    resData: listData,
    getData: query<%=upperFirst(name)%>s,
} = useApi(<%=tableView.tableDef.api.apiName%>, ({total, rows}) => ({
    total: total || 0, rows: rows || [],
}), {
    total: 0, rows: [] as IMemberDTO[],
});

const queryParams = ref<IReqMemberList>({
    pageNum: 1,
    pageSize: 10,
});

provide(INJECT_QUERY_LIST_PARAM, queryParams);

/** 查询会员列表 */
async function <%- emitCallbacks['updateList'] %>(params: IReqMemberList) {
    loading.value = true;
    await query<%=upperFirst(name)%>s(params);
    loading.value = false;
}

const showSearch = ref(true);

const createFormRef = ref();

function onSubmitted() {
    <%- emitCallbacks['updateList'] %>(queryParams.value);
}

/** 搜索按钮操作 */
function handleQuery(params?: IReqMemberList) {
    params = params || queryParams.value;
    params.pageNum = 1;
    <%- emitCallbacks['updateList'] %>(params);
}
<% if (tableEmits.has('onClickAdd')) { %>
/** 新增按钮操作 */
function <%- emitCallbacks['onClickAdd'] %>() {
    createFormRef.value?.openAddDialog();
}
<% }
if (tableEmits.has('onClickUpdate')) { %>
/** 修改按钮操作 */
function <%- emitCallbacks['onClickUpdate'] %>(row: IMemberDTO) {
    createFormRef.value?.openEditDialog(row);
}
<% }
if (tableEmits.has('onClickDelete')) { %>
/** 删除按钮操作 */
function <%- emitCallbacks['onClickDelete'] %>(rows: IMemberDTO[]) {
    const idArr = rows.map(row => row.id);
    proxy.$modal.confirm('是否确认删除参数编号为"' + idArr + '"的数据项？').then(function () {
        return <%=deleteApi.apiName%>(idArr);
    }).then(() => {
        handleQuery();
        proxy.$modal.msgSuccess("删除成功");
    }).catch(() => {
    });
}
<% }
if (tableEmits.has('onClickExport')) { %>
/** 导出按钮操作 */
function <%- emitCallbacks['onClickExport'] %>() {
    proxy.download("communicator/member/export", {
        ...queryParams.value
    }, `member_${new Date().getTime()}.xlsx`);
}
<% }
if (tableEmits.has('onClickShowInfo')) { %>
function <%- emitCallbacks['onClickShowInfo'] %>(info: IMemberDTO) {
    createFormRef.value?.openInfoDialog(info);
}
<% } %>
handleQuery();
</script>
